<div class = "row">   
  <img id = "burger_pic"  src = "/assets/images/burger_2.jpg" alt = "burger-pic">
</div>

<div id = "page_title">
  <h5>Eat-Da-Burger!</h5>
</div>

 
<div class = "main">
  <div id = "burgersAvailable">
    <ul style = "list-style-type:none">
  {{#each burgers}}
   {{#unless this.devoured}}
    <li id = "notEaten">
  
        <form action="/burgers/{{this.id}}?_method=PUT" method="POST" class="button-size">
           {{!-- <input type="hidden" name="devoured" value="false">  --}}
         <text type = "text" name="new_burger" rows="3" cols="30">{{this.id}}.  {{this.burger_name}}</text>
          <button id = "devour" type="submit">Devour it!</button>
        </form>
    </li>
     
    {{/unless}}
  {{/each}}
  </ul>
  </div>

  <div id = "burgerEaten">
    <ul style ="list-style-type:none">
    {{#each burgers}}
      {{#if this.devoured}}
      <li id = "eaten">
        <div>
          {{this.id}}.  {{this.burger_name}}
        </div>
      </li>
      {{/if}}
    {{/each}}
    </ul>
  </div>
</div>
  <div class = "bottom">
  <form method="POST" action="/burgers" class="button-size">
    <textarea type="text" name="burger_name" rows="5" cols="50"></textarea>
    <br>
    <br>
    <button type="submit" class="addBurgerButton">Submit</button>
      <h2>Enter a burger you want to eat.  Click the "submit" button.</h2>
  </form>
  </div>

